        {{daynum}} => {
            if (part) |p| {
                const output = try {{day}}.runner(p)(all_input.{{day}}_full, a);
                a.free(output);
            } else {
                inline for ([_]usize{ 1, 2 }) |p| {
                    const output = try {{day}}.runner(p)(all_input.{{day}}_full, a);
                    a.free(output);
                }
            }
        },
