
test "{{day}} part {{part}} ({{kind}})" {
    const input = all_input.{{day}}_{{kind}};
    const actual = try {{day}}.run(input, {{part}}, testing.allocator);
    defer testing.allocator.free(actual);
    try testing.expectEqualStrings(expected.{{day}}[{{part}} - 1].{{kind}}, actual);
}
